@charset "utf-8";
.flex-container {
    display: flex;
    height: 50%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.flex-container-column1 {
    display: flex;
    flex-direction: column;
    width: 65%;

}
.flex-container-column2 {
    display: flex;
    flex-direction: column;
    width: 35%;

}


/* Containers for the piano */
.piano-container{
	position: absolute;
	bottom: 0;
	left: 0;
    margin-bottom: 0px;
    background-color:purple;
    overflow: hidden;
    width: 1920px;
  	height: 300px;
}

#piano {
	border: solid 1px black;
	background-color: lightgrey;
	overflow: hidden;
	width: 1862px;
	height: 200px;
	margin: 29px auto 0;
  	vertical-align: middle;
}
.both {
	width: 20px;
	height: 300px;
	background-color: white;
	float: left;
}
.header {
    text-align: center;
}

/* WHITE key */
.coveredWhite {
	float: left;
	width: 16px;
	height: 200px;
	background-color: white;
}

.white{
	float: left;
	width: 25px;
	height: 200px;
	background-color: white;
	text-align: bottom;
}
.leftWhite {
	width: 9px;
	height: 90px;
	background-color: white;
	border-right: solid 1px darkgray;
	border-bottom-right-radius: 5px;
	float: left;
	clear: both;
}
.rightWhite {
	width: 9px;
	height: 90px;
	background-color: white;
	border-left: solid 1px darkgray;
	border-bottom-left-radius: 5px;
	float: left;
}

/* Border between white keys */
.borderRight {
	border-right: solid 1px darkgray;
	border-bottom-right-radius: 5px;
}
.borderLeft {
	border-left: solid 1px darkgrey;
	border-bottom-left-radius: 5px;
}

/* Black key */
.black {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: black;
	width: 26px;
	height: 110px;
	float: left;
}

/* Text on keys */
.blackText {
	position: relative;
	top: 150px;
	left: 0px;
	font-size: 30px;
}
.whiteText {
	position: relative;
	top: 50px;
	left: 2px;
	font-size: 25px;
	color: white;
}



.function-btn{
		background: #008CBA;
		border: 4px;
		border-color: white;
		color: white;
		border-style: outset;
		border: none;
		font: bold15px arial,sans-serif;
		text-shadow: none;
		margin-top: 10px;
    border-radius: 25px;
	
		}

.text-btn{
	background: #008CBA;
	border: 4px;
	border-color: white;
	color: white;
	border-style: outset;
	border: none;
	font: bold15px arial,sans-serif;
	text-shadow: none;
	margin-top: 10px;
	border-radius: 25px;

}



.text-btn:hover{
		cursor: pointer;
		color: #008CBA;
		background-color: white;
}

.function-btn:hover{
	cursor: pointer;
	color: #008CBA;
	background-color: white;
}


.page-title{
	text-align: center;
	font-weight: bold;
}

.corner-btn{
	position: relative;
	top: 0;
	right: 0;
 }

.arrow-btn{
	  background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;                   /* The color of the border is same*/
    border-width: 1px;                     /* */
    color: rgb(41, 118, 211);
		padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    cursor: pointer;
    vertical-align: top;
	 	display:inline-block;
		
    
} 


.move-p{
	display :inline-block;
	vertical-align: top;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
 
}

.graph-iframe {
    height: 70%;
}

#mainGraph{
    width: 90%;
    height: 100%;
}

#envelopeGraph {
    width: 90%;
    height: 100%;
}

#envelope{
    height: 250px;
}

.headLine {
    font-size: 30px;
    font-weight: bold;
}

.flex-envolope-container{
    display: flex;
}

.inputDesign{
    height: 30px;
    width: 40%;
    border: 2px black solid;
    border-radius: 3px;
    font-family: monospace;
    font-size: 20px;
    margin: 0 0 10px;
}
