@charset "utf-8";
:root { 
	--page-bg: #FBF5E7;
	--button: #cf1518;
	--button-alt: #602;
	--borders: #cf1518;
}
iframe {
    position: fixed;
    background: #000;
    top: 8%; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    height: 100%;
}
#choices {
	display: flex;
	display: inline-flex;
}
.choice {
	background-color:#cf1518;
	border-color: #602;
	color: white;
	border: 10px;
	border-radius: 2px;
	width: 100px;
	height: 40px;
	margin-left: 5px;
}
